.panel-container {
    width: auto;
    max-width: 300px;
    align-items: flex-start;
    align-content: flex-start;
    padding: 30px 30px;
    display: grid;
    flex-direction: column;
    gap: 25px;
}